*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.hero{
	height: 100vh;
	width: 100%;
	background-image: url('./background.jpg');
	background-size: cover; 
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: blue;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: blue;
	transition: .4s;
}
.btn{
	background-color:blue;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}
.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;
}
.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid blue;
	outline: none;
	border-radius: 30px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:blue;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}

.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 100%;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

button{
	background-color:blue;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}

button:hover{
	background-color: transparent;
	border: 2px solid blue;
	cursor: pointer;
}

.myProjects .box{
	width: fit-content;
	margin: 0 auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}


.myProjects .box .card{
	width: auto;
	height: fit-content;
}

.myProjects .card .pra{
	margin: 0 auto;
	position: relative;
}

.myProjects .card .pra a{
	font-size: 13px;
	background-color: white;
	padding: 15px;
	text-decoration: none;
	color: blue;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 100%;
	width: 100%;
	visibility: hidden;
}

.myProjects .card .pra:hover a{
	transition: .5s ease;
	left: 0;
	visibility: visible;
}

.myProjects .card .pra img{
	width: 100%;
	height: 100%;
}

.myProjects .card{
	width: 100%;
	height: 100%;
}

.service{
	background: #101010;
	width: 100%;
	padding: 50px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 100%;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: blue;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:blue;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid blue;
	cursor: pointer;
}
.contact-me{
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}

.myresume .resume_btn{
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.contact-me .button-two,.myresume .button-two{
	background-color:blue;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 10px;
	transition: .4s; 
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid blue;
	cursor: pointer;
}

.myresume .button-two:hover{
	background-color: transparent;
	border: 2px solid blue;
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  blue;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}

.end{
	position: absolute;
	color:blue;
	bottom: 35px;
	font-size: 14px; 
}

@media only screen and (max-width:800px){

	.hero nav h2,.content h4{
		font-size: 14px;
	}

	.content h1{
		font-size: 16px;
	}

	.content h3{
		font-size: 15px;
	}

	.about{
		height: fit-content;
		padding: 10px;
	}

	.hero{
		height: 400px;
	}

	.about .main{
		gap: 10px;
		height: 300px;

	}

	.about img{
		height: 100%;
		width: 50%;
		flex: 50%;
		margin: 0;
	}

	.about-text{
		flex: 50%;
		width: 50%;
		padding: 5px;
		overflow-y: scroll;
		height: 100%;
	}

	.about-text h2{
		font-size: 15px;
		text-align: center;
	}

	.about-text h5{
		font-size: 14px;
		text-align: center;
	}

	.about-text p{
		font-size: 13px;
	}

	.service .title h2{
		font-size: 15px;
	}

	.box .card h5{
		font-size: 14px;
	}

	.box .card .pra p{
		font-size: 13px;
	}

	.box .card .pra a{
		top: auto;
		bottom: 5px;
		padding: 5px;
		height: fit-content;
	}

	.contact-me p{
		font-size: 15px;
	}

	.contact-me a{
		font-size: 14px;
	}

	.content{
		top: 30%;
	}
	
	.myProjects .card .pra img{
		height: 150px;
	}

	.myProjects .box{
		display: grid;
		grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
	}

}


@media only screen and (max-width:414px){
	
	.myProjects .box{
        grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
	}

}
